/** Header styles */
#header {
    background-color: black;
    color: white;
    padding: 0.5rem;
}
.branding {
    @include screen-greater-than(desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__wrapper {
        white-space: pre-wrap;
        word-break: break-word;
        @include screen-greater-than(tablet){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            #site-description, nav {
                width: 48%;
            }
        }
        @include screen-greater-than(desktop) {
            width: 100%;
        }
    }
    &__introduction {
        display: flex;
        flex-direction: column;
        @include screen-greater-than(desktop){
            width: 48%;
        }
        a {
            color: $gold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__logo {
        @include screen-greater-than(desktop) {
            width: 45%;
        }
        img {
            width: 100%;
        }
    }
}