/** Buttons styles */
.button {
    border-radius: $btnRadius;
    border: none;
    text-decoration: none;
    background-color: blueviolet;
    color: white;//$UPVLightTeal;
    text-transform: uppercase;   
    font-size: 1rem; 
    padding: 0.5rem 1rem;
    min-width: 144px;
    display: inline-block;
    text-align: center;
    white-space: pre-wrap;
    word-break: break-word;
    @include screen-greater-than(tablet){
        font-size: 1.25rem;
    }
    &__cta {
        background-color: darkred;
    }
}